html {
  font-size: 10px;
}

/* :root {
  font-size: 10px;
} */

body {
  font-size: 10px;
  font-family: monospace;
}

h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 1.3rem;
  color: rgba(26, 97, 73, 1);
}

.heading-2 {
  font-size: 20px;
}

.sub-heading-2 {
  font-size: 3em;
  margin-top: 800px;
}

.box-1 {
  /* height: 30px; */
  border: 1px solid black;
}

/* make ul square */

ul li {
  list-style-type: square;
  padding-right: 20px;
}

.lvl-1 {
  font-size: 34px;
}
.lvl-2 {
  font-size: 2rem;
}
.lvl-3 {
  font-size: 2em;
}

.lvl-3 p {
  /* What is my font size: 20px? 40px? */
  font-size: inherit;
}
